<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>
  <listener class-name="com.demoblaze.utils.Reporting"/>
  </listeners>
  
  <test thread-count="5" name="Test"> 
    <classes>
       <class name="com.demoblaze.TestCases.TC_testLoginWithValidCredentials_001"/>
   <!--   <class name="com.demoblaze.TestCases.TC_testLoginWithInvalidCredentials_002"/>-->
   <!--    <class name="com.demoblaze.TestCases.TC_UserLoginTestDDT_002"/> -->
    <!--  <class name="com.demoblaze.TestCases.TC_testSignUpWithValidDetails_001"/> -->
   <!--   <class name="com.demoblaze.TestCases.TC_testSignUpWithInvalidDetails_002"/>-->
    <!--  <class name="com.demoblaze.TestCases.TC_ProductBrowsingOnHomepage_003"/>-->
     <!--  <class name="com.demoblaze.TestCases.TC_ProductCategoriesNavigation_004"/>-->
       <!--   <class name="com.demoblaze.TestCases.TC_testAddLastProductToCart_005"/> -->
       <!--  <class name="com.demoblaze.TestCases.TC_testSuccessfulCheckout_006"/> -->
  <!-- <class name="com.demoblaze.TestCases.TC_testCheckoutWithoutAddingProducts_007"/>-->
   <!--    <class name="com.demoblaze.TestCases.TC_testSuccessfulLogout_008"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
